@let vm = store.vm$ | async;

<div class="page-container">
  <div class="calendar-area">
    <mat-calendar
      ngSkipHydration
      [selected]="vm.today"
      (selectedChange)="onSelect($event)"
    ></mat-calendar>
  </div>

  <div class="schedule-area">
    <table class="schedule-table">
      <thead>
        <tr>
          <th class="time-header"></th>
          @for (room of vm.view.meetingRooms; track $index) {
            <th class="room-header">{{ room.roomName }}</th>
          }
        </tr>
      </thead>
      <tbody>
        @for (time of vm.view.times; track $index) {
          <tr>
            <td class="time-cell">{{ time }}</td>
            @for (room of vm.view.meetingRooms; track $index) {
              @if (vm.reserve[room.roomId + '_' + time]; as rs) {
                <td class="room-cell" (click)="openModal(rs)">
                  {{ `${rs.reserver} ${rs.meetingName}` }}
                </td>
              } @else {
                <td
                  class="room-cell"
                  (click)="
                    openModal({
                      roomId: room.roomId,
                      roomName: room.roomName,
                      meetingName: '',
                      date: vm.today,
                      reserver: '',
                      start_time: time,
                      end_time: '',
                    })
                  "
                ></td>
              }
            }
          </tr>
        }
      </tbody>
    </table>
  </div>
</div>

@if (vm.modalFlg) {
  <app-modal
    [setModalData]="vm.modalData"
    (modalDisp)="closeModal()"
    (reserve)="reserve($event)"
  ></app-modal>
}
