@let vm = store.vm$ | async;

<div class="page-container">
  <div class="calendar-area">
    <mat-calendar ngSkipHydration></mat-calendar>
  </div>

  <div class="schedule-area">
    <table class="schedule-table">
      <thead>
        <tr>
          <th class="time-header"></th>
          @for (room of vm.view.conferenceRooms; track $index) {
            <th class="room-header">{{ room.roomName }}</th>
          }
        </tr>
      </thead>
      <tbody>
        @for (time of vm.view.times; track $index) {
          <tr>
            <td class="time-cell">{{ time }}</td>
            @for (room of vm.view.conferenceRooms; track $index) {
              @if (vm.reserve[room.roomId + '_' + time]; as rs) {
                <td class="room-cell" (click)="modalDisp(rs)">
                  {{ `${rs.reserver} ${rs.conferenceName}` }}
                </td>
              } @else {
                <td class="room-cell" (click)="modalDisp()"></td>
              }
            }
          </tr>
        }
      </tbody>
    </table>
  </div>
</div>

@if (vm.modalFlg) {
  <app-modal [modalData]="vm.modalData" (modalDisp)="modalDisp()"></app-modal>
}
